In [2]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib

In [37]:
data_path = "data/data-2019-06-04/"

tcm_raw = pd.read_csv( data_path+"tcm.csv")
vnav_raw = pd.read_csv( data_path+"vnav.csv", header=0)
yost_raw = pd.read_csv( data_path+"yost.csv")

all_raw = [tcm_raw, vnav_raw, yost_raw]

## Fixup missing time column in yostlabs for now
yost_raw["Time"] = tcm_raw["Time"]

In [50]:
## Normalize all times and set time as index

t0 = min( [ f["Time"].min() for f in all_raw] )

for f in all_raw:
    f["Time"] = f["Time"]-t0
    f.set_index("Time", inplace=True)

## TODOS:

* Vectornav: Figure out column labels, ensure correct number of column labels in csv file
* Yostlabs, no first time column
* TCM:  Add magnetometer/compass data

In [51]:
tcm_raw.head(5)

             ax        ay        az
Time
0.000  0.016336  0.138145 -0.331835
0.080  0.016311  0.138097 -0.331863
0.166  0.016308  0.138061 -0.331899
0.247  0.016319  0.138025 -0.331977
0.331  0.016260  0.138027 -0.331912

In [52]:
vnav_raw.head(5)

,unknown,unknown.1,unknown.2,unknown.3,unknown.4,unknown.5,unknown.6,unknown.7,unknown.8,unknown.9,unknown.10
Time,,,,,,,,,,,
0.007,-112.277,-4.895,0.464,-0.0215,0.1288,0.5131,-0.779,-0.086,-9.704,0.003110,-0.000836
0.091,-112.276,-4.894,0.468,-0.0192,0.1300,0.5145,-0.807,-0.124,-9.722,0.002504,0.000511
0.175,-112.274,-4.897,0.479,-0.0203,0.1337,0.5144,-0.793,-0.078,-9.696,0.000951,0.000708
0.255,-112.271,-4.893,0.480,-0.0204,0.1300,0.5104,-0.817,-0.022,-9.788,0.001872,0.001399
0.339,-112.268,-4.890,0.473,-0.0204,0.1300,0.5104,-0.843,-0.046,-9.738,0.001103,-0.000976

In [53]:
yost_raw.head(5)

          unknown    quat 1    quat 2    quat 3    quat 4
Time
0.000  3168124937  0.918223 -0.012000 -0.395030 -0.026090
0.080  1063974612 -0.012086 -0.395946 -0.026075  0.917824
0.166  1063967950 -0.012046 -0.396859 -0.026168  0.917427
0.247  3168178320  0.917034 -0.012090 -0.397773 -0.026191
0.331  3168082232  0.916703 -0.012377 -0.398537 -0.026014